## GOTV Tiers Analysis

In [ ]:
%%sql @noteable
-- GOTV Tiers
CREATE OR REPLACE TABLE `team10sept2023.gotv_tiers.gotv_tiers2` AS
SELECT
  CASE
    WHEN support_score BETWEEN 90 AND 100 AND turnout_score BETWEEN 40 AND 60 THEN 'Tier 1'
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score BETWEEN 35 AND 65 THEN 'Tier 2'
    WHEN support_score BETWEEN 80 AND 100 AND turnout_score BETWEEN 30 AND 70 THEN 'Tier 3'
    WHEN support_score BETWEEN 75 AND 100 AND turnout_score BETWEEN 20 AND 80 THEN 'Tier 4'
    ELSE 'Tier 5'
  END as gotv_tier,
  p.ethnicity,
  CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END as age_range,
  COUNT(p.unique_id) as people,
  COUNT(DISTINCT p.voting_address_id) as doors,
  COUNT(DISTINCT p.cell_id) as cell_phones,
  COUNT(DISTINCT p.landline_id) as landlines,
FROM arenatraining.analytics.person p
LEFT JOIN arenatraining.scores.scores_2024 s
  ON p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY gotv_tier,p.ethnicity, age_range
ORDER BY gotv_tier ASC;

SELECT * FROM `team10sept2023.gotv_tiers.gotv_tiers2` LIMIT 1000;

In [ ]:
%%sql @noteable
-- Support Tiers
CREATE OR REPLACE TABLE  `team10sept2023.gotv_tiers.support_tiers2` AS
SELECT
  CASE
    WHEN support_score BETWEEN 90 AND 100 THEN 'Support Tier 1'
    WHEN support_score BETWEEN 80 AND 89 THEN 'Support Tier 2'
    WHEN support_score BETWEEN 70 AND 79 THEN 'Support Tier 3'
    ELSE 'Support Tier 4'
  END as support_tier,
  p.ethnicity,
    CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END as age_range,
  COUNT(p.unique_id) as people,
  COUNT(DISTINCT p.voting_address_id) as doors,
  COUNT(DISTINCT p.cell_id) as cell_phones,
  COUNT(DISTINCT p.landline_id) as landlines,
FROM arenatraining.analytics.person p
LEFT JOIN arenatraining.scores.scores_2024 s
  ON p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY support_tier, p.ethnicity, age_range
ORDER BY support_tier ASC;
SELECT * FROM `team10sept2023.gotv_tiers.support_tiers2` LIMIT 1000;

In [ ]:
%%sql @d85b7eedd3ca46daa47c0ee943dafa72
-- Turnout Tiers
CREATE OR REPLACE TABLE `team10sept2023.gotv_tiers.turnout_tiers2` AS
SELECT
  CASE
    WHEN turnout_score BETWEEN 40 AND 60 THEN 'Turnout Tier 1'
    WHEN turnout_score BETWEEN 30 AND 39 OR turnout_score BETWEEN 61 AND 70 THEN 'Turnout Tier 2'
    WHEN turnout_score BETWEEN 20 AND 29 OR turnout_score BETWEEN 71 AND 80 THEN 'Turnout Tier 3'
    ELSE 'Turnout Tier 4'
  END as turnout_tier,
  p.ethnicity,
  CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END as age_range,
  COUNT(p.unique_id) as people,
  COUNT(DISTINCT p.voting_address_id) as doors,
  COUNT(DISTINCT p.cell_id) as cell_phones,
  COUNT(DISTINCT p.landline_id) as landlines,
FROM arenatraining.analytics.person p
LEFT JOIN arenatraining.scores.scores_2024 s
  ON p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY turnout_tier, p.ethnicity, age_range
ORDER BY turnout_tier ASC;
SELECT * FROM `team10sept2023.gotv_tiers.turnout_tiers2` LIMIT 1000;

## Persuadability Tiers Analysis

In [ ]:
%%sql @noteable
-- Persuadability Tiers
CREATE OR REPLACE TABLE `team10sept2023.persuadability.persuasion_tiers2` AS
SELECT
  CASE
    WHEN persuadability_score BETWEEN 4.5 AND 5 THEN 'Tier 1'
    WHEN persuadability_score > 4 AND persuadability_score <= 4.5 THEN 'Tier 2'
    WHEN persuadability_score > 3.5 AND persuadability_score <= 4 THEN 'Tier 3'
    WHEN persuadability_score > 3 AND persuadability_score <= 3.5 THEN 'Tier 4'
  ELSE
  'Tier 5'
END AS persuasion_tier,
  p.ethnicity,
  CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END AS age_range,
  COUNT(p.unique_id) AS people,
  COUNT(DISTINCT p.voting_address_id) AS doors,
  COUNT(DISTINCT p.cell_id) AS cell_phones,
  COUNT(DISTINCT p.landline_id) AS landlines,
FROM arenatraining.analytics.person p
LEFT JOIN arenatraining.scores.scores_2024 s
  ON p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY persuasion_tier, p.ethnicity, age_range
ORDER BY persuasion_tier ASC;

SELECT * FROM `team10sept2023.persuadability.persuasion_tiers2` LIMIT 1000;

## Categories of Voters by Ethnicity and Age

In [ ]:
%%sql @noteable
CREATE OR REPLACE TABLE `team10sept2023.categories_of_voters.categories_by_ethnicity_age` AS
SELECT
  CASE
    WHEN support_score >= 85 AND turnout_score >= 35 AND persuadability_score >= 4 THEN 'High Support, High Turnout, High Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 20 AND 34 AND persuadability_score >= 3.5 THEN 'Medium Support, Medium Turnout, Medium/High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score BETWEEN 10 AND 19 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Low Support, Low Turnout, Low Persuasion'
    WHEN support_score < 50 AND turnout_score >= 35 AND persuadability_score BETWEEN 3.5 AND 4.49 THEN 'Very Low Support, High Turnout, Medium Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score < 20 AND persuadability_score >= 4 THEN 'Medium Support, Very Low Turnout, High Persuasion'
    WHEN support_score >= 85 AND turnout_score BETWEEN 20 AND 34 AND persuadability_score <= 3 THEN 'High Support, Medium Turnout, Very Low Persuasion'
    WHEN support_score < 50 AND turnout_score < 20 AND persuadability_score >= 4.5 THEN 'Very Low Support, Very Low Turnout, High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score >= 35 AND persuadability_score <= 3 THEN 'Low Support, High Turnout, Very Low Persuasion'
    -- Additional categories
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score < 20 AND persuadability_score BETWEEN 4.5 AND 5 THEN 'High Support, Very Low Turnout, High Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 20 AND 39 AND persuadability_score BETWEEN 4 AND 4.49 THEN 'Medium Support, Low Turnout, Medium-High Persuasion'
    WHEN support_score < 50 AND turnout_score BETWEEN 40 AND 60 AND persuadability_score > 4 THEN 'Very Low Support, Medium Turnout, High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score < 20 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Low Support, Very Low Turnout, Low Persuasion'
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score BETWEEN 61 AND 80 AND persuadability_score BETWEEN 3.5 AND 4.49 THEN 'High Support, High-Medium Turnout, Medium Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 61 AND 80 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Medium Support, High Turnout, Low Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score BETWEEN 40 AND 60 AND persuadability_score > 4 THEN 'Low Support, Medium Turnout, High Persuasion'
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score BETWEEN 20 AND 39 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'High Support, Low Turnout, Low Persuasion'
  ELSE
  'Other Categories'
END AS combined_tier,
  p.ethnicity,
  CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END AS age_range,
  COUNT(p.unique_id) AS people,
  COUNT(DISTINCT p.voting_address_id) AS doors,
  COUNT(DISTINCT p.cell_id) AS cell_phones,
  COUNT(DISTINCT p.landline_id) AS landlines
FROM
  arenatraining.analytics.person p
LEFT JOIN
  arenatraining.scores.scores_2024 s
ON
  p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY
  combined_tier,
  p.ethnicity,
  age_range
ORDER BY
  people DESC;

## Unregistered Voters Persuasion

In [ ]:
%%sql @noteable
SELECT 
    p.ethnicity,
    CASE
        WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
        WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
        WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
        WHEN p.age BETWEEN 50 AND 64 THEN '50-64'
        WHEN p.age >= 65 THEN '65+'
        ELSE 'Age Unknown'
    END AS age,
    CASE
        WHEN s.support_score >= 80 AND s.turnout_score >= 40 THEN 'High Support & Turnout'
        WHEN s.support_score >= 80 AND s.turnout_score < 40 THEN 'High Support & Low Turnout'
        WHEN s.support_score < 80 AND s.turnout_score >= 40 THEN 'Low Support & High Turnout'
        WHEN s.support_score < 80 AND s.turnout_score < 40 THEN 'Low Support & Turnout'
    END AS gotv_tier,
    CASE
        WHEN s.persuadability_score >= 4 THEN 'High Persuasion'
        WHEN s.persuadability_score >= 3 THEN 'Medium Persuasion'
        WHEN s.persuadability_score < 3 THEN 'Low Persuasion'
    END AS persuasion_tier,
    COUNT(DISTINCT p.unique_id) AS people_count,
    COUNT(DISTINCT p.voting_address_id) AS distinct_hh,
    COUNT(DISTINCT p.cell_id) AS distinct_cell,
    COUNT(DISTINCT p.landline_id) AS distinct_landline
FROM 
    arenatraining.analytics.person p
LEFT JOIN 
    arenatraining.scores.scores_2024 s 
ON 
    p.unique_id = s.unique_id
WHERE 
    p.registration_date IS  NULL
    AND p.state_code = 'MI' 
    AND us_cong_district = '010'
GROUP BY 
    p.ethnicity, age, gotv_tier, persuasion_tier
ORDER BY 
    p.ethnicity, age, gotv_tier, persuasion_tier;

## Categories of Voters by Ethnicity and Age

In [ ]:
CREATE OR REPLACE TABLE `team10sept2023.categories_of_voters.categories_by_ethnicity_age` AS
SELECT
  CASE
    WHEN support_score >= 85 AND turnout_score >= 35 AND persuadability_score >= 4 THEN 'High Support, High Turnout, High Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 20 AND 34 AND persuadability_score >= 3.5 THEN 'Medium Support, Medium Turnout, Medium/High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score BETWEEN 10 AND 19 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Low Support, Low Turnout, Low Persuasion'
    WHEN support_score < 50 AND turnout_score >= 35 AND persuadability_score BETWEEN 3.5 AND 4.49 THEN 'Very Low Support, High Turnout, Medium Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score < 20 AND persuadability_score >= 4 THEN 'Medium Support, Very Low Turnout, High Persuasion'
    WHEN support_score >= 85 AND turnout_score BETWEEN 20 AND 34 AND persuadability_score <= 3 THEN 'High Support, Medium Turnout, Very Low Persuasion'
    WHEN support_score < 50 AND turnout_score < 20 AND persuadability_score >= 4.5 THEN 'Very Low Support, Very Low Turnout, High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score >= 35 AND persuadability_score <= 3 THEN 'Low Support, High Turnout, Very Low Persuasion'
    -- Additional categories
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score < 20 AND persuadability_score BETWEEN 4.5 AND 5 THEN 'High Support, Very Low Turnout, High Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 20 AND 39 AND persuadability_score BETWEEN 4 AND 4.49 THEN 'Medium Support, Low Turnout, Medium-High Persuasion'
    WHEN support_score < 50 AND turnout_score BETWEEN 40 AND 60 AND persuadability_score > 4 THEN 'Very Low Support, Medium Turnout, High Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score < 20 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Low Support, Very Low Turnout, Low Persuasion'
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score BETWEEN 61 AND 80 AND persuadability_score BETWEEN 3.5 AND 4.49 THEN 'High Support, High-Medium Turnout, Medium Persuasion'
    WHEN support_score BETWEEN 70 AND 84 AND turnout_score BETWEEN 61 AND 80 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'Medium Support, High Turnout, Low Persuasion'
    WHEN support_score BETWEEN 50 AND 69 AND turnout_score BETWEEN 40 AND 60 AND persuadability_score > 4 THEN 'Low Support, Medium Turnout, High Persuasion'
    WHEN support_score BETWEEN 85 AND 100 AND turnout_score BETWEEN 20 AND 39 AND persuadability_score BETWEEN 3 AND 3.49 THEN 'High Support, Low Turnout, Low Persuasion'
  ELSE
  'Other Categories'
END AS combined_tier,
  p.ethnicity,
  CASE
    WHEN p.age BETWEEN 18 AND 29 THEN '18-29'
    WHEN p.age BETWEEN 30 AND 39 THEN '30-39'
    WHEN p.age BETWEEN 40 AND 49 THEN '40-49'
    WHEN p.age BETWEEN 50 AND 59 THEN '50-59'
    WHEN p.age BETWEEN 60 AND 64 THEN '60-64'
    WHEN p.age >= 65 THEN '65+'
  ELSE
  'Age Unknown'
END AS age_range,
  COUNT(p.unique_id) AS people,
  COUNT(DISTINCT p.voting_address_id) AS doors,
  COUNT(DISTINCT p.cell_id) AS cell_phones,
  COUNT(DISTINCT p.landline_id) AS landlines
FROM
  arenatraining.analytics.person p
LEFT JOIN
  arenatraining.scores.scores_2024 s
ON
  p.unique_id = s.unique_id
  AND p.state_code = s.state_code
WHERE
  p.registration_date IS NOT NULL
  AND p.state_code = 'MI'
  AND us_cong_district = '010'
GROUP BY
  combined_tier,
  p.ethnicity,
  age_range
ORDER BY
  people DESC;