In [71]:
import pandas as pd
from collections import Counter
import json
from pandas.io.json import json_normalize
import numpy as np

In [36]:
#Create DataFrame from file
path='/Users/rishigummakonda/Desktop/Springboard_Github/json_project/world_bank_projects.json'
wb_df=pd.read_json(path)

#1. Find the 10 countries with most projects
print('the 10 countries with most projects:')
wb_df['countryshortname'].value_counts().head(10)

the 10 countries with most projects:

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [101]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
wb_df=json.load(open(path))
wb_df=json_normalize(wb_df,'mjtheme_namecode')
wb_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [108]:
#here we can see that there are names missing, so we have to find the top 10 using the code and then find the names
#heres what the order would be if we counted names
print('\nTop 10 Name and Count (without names filled):')
print(wb_df.name.value_counts().head(10))
# Then store the count of each project code and find the top 10
print('\nTop 10 Code and Count:')
print(wb_df.code.value_counts().head(10))

Top 10 Name and Count (without names filled):
Environment and natural resources management    250
Human development                               218
Rural development                               215
Public sector governance                        198
Social protection and risk management           177
Financial and private sector development        142
Social dev/gender/inclusion                     126
Trade and integration                            78
Urban development                                49
Economic management                              34
Name: name, dtype: int64

Top 10 Code and Count:
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [116]:
#3. In 2. above you will notice that some entries have only the code and the name is missing.
#Create a dataframe with the missing names filled in.

#fill the empty strings with
wb_df.name[wb_df['name'] == ''] = np.nan

# Backfill NaN values, then inspect
wb_df = wb_df.fillna(method='bfill')
print(wb_df.head(5))

#then print out the updated count with names filled in
print('\nTop 10 Name and Count (without names filled):')
print(wb_df.name.value_counts().head(10))

print('DataFrame with names filled in:')
wb_df.head(5)

  code                                   name
0    8                      Human development
1   11                    Economic management
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

Top 10 Name and Count (without names filled):
Environment and natural resources management    250
Human development                               218
Rural development                               215
Public sector governance                        198
Social protection and risk management           177
Financial and private sector development        142
Social dev/gender/inclusion                     126
Trade and integration                            78
Urban development                                49
Economic management                              34
Name: name, dtype: int64
DataFrame with names filled in:

  code                                   name
0    8                      Human development
1   11                    Economic management
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration